.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 80px;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header h2{
    color: azure;
}
.header a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;
}
.header h2:hover{
    font-style: italic;
}
.header a:hover{
    color: white;
}