.item-card{
    width: 300px;
    height: 520px;
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image-container img{
    width: 290px;
    height: 320px;
    border-radius: 5px;
    margin: 5px;
}
.item-info{
    padding: 0px 10px;
}
.item-btn{
    display: flex;
    justify-content: center;
}
.addToCart-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: pink;
    border-radius: 10px;
    border: none;
    font-size: medium;
}
.addToCart-btn:hover{
    background-color: palevioletred;
    color: white;
}