.main-container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 50px 50px;
}
.cart-container{
    background-color: pink;
    
}
@media screen and (max-width:688px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 0px;
    }
}
@media screen and (min-width:688px) and (max-width:992px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}